
ultrades/.ipynb_checkpoints/automata-checkpoint.py
ultrades/__pycache__/automata.cpython-311.pyc
ultrades/__pycache__/petrinets.cpython-311.pyc
testes.ipynb
teste-petri.ipynb
.ipynb_checkpoints/testes-checkpoint.ipynb
.ipynb_checkpoints/teste-petri-checkpoint.ipynb
